---
layout: layout
title: Archives
---

<div>
  <em>A Long Time Ago in a Galaxy Far, Far Away...</em>
</div>

<ul id="archive">
  {% for post in site.posts %}
    {% unless post.next %}
      <h3>{{ post.date | date: '%B %Y' }}</h3>
    {% else %}
      {% capture date %}{{ post.date | date: '%B %Y' }}{% endcapture %}
      {% capture next_date %}{{ post.next.date | date: '%B %Y' }}{% endcapture %}
      {% if date != next_date %}
        <h3>{{ post.date | date: '%B %Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li>
      {% if post.linkblog.size > 0 %}
        <a href="{{ post.linkblog }}" class="linkblog">{{ post.title }}</a>
        <a href="{{ post.url }}" class="linkblog-permalink">.</a>
      {% else %}
        <a href="{{ post.url }}" class="permalink">{{ post.title }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>

